extends layout

block content
    h1 Ultimate Task List

    div.row
        div.col-xs-8(ng-controller="TaskListController as ctrl")
            div.row
                div.col-xs-12
                    h2 Task List
                    div.btn-toolbar
                        button.btn.btn-info.btn-sm(type="button" ng-click="ctrl.addTask()") Add New
            div.row
                div.col-xs-12
                    div.panel.panel-default(ng-repeat="task in ctrl.tasks" ng-class="{'panel-success': task.completed}")
                        div.panel-heading 
                            a(href="#" ng-click="ctrl.selectTask(task)") {{task.title}}
                            button.btn.btn-danger.btn-sm.pull-right(type="button" ng-click="ctrl.removeTask(task)") Delete
                            span.clearfix
                        div.panel-body
                            p
                                a(href="#" ng-click="ctrl.selectTask(task)") {{task.date | date : 'medium'}}
                            pre(ng-bind="task.description")

                    h3(ng-if="ctrl.tasks.length==0") The task list is empty. Try adding some...
                        
        div.col-xs-4
            div.row
                div.col-xs-12(ng-controller="TaskDetailController as ctrl")
                    h2 Details
                    div.col-xs-12
                        table.table.table-bordered(ng-if="ctrl.task")
                            tbody
                                tr
                                    td Title
                                    td
                                        input(type="text" ng-model="ctrl.task.title" ng-change="ctrl.change()")
                                tr
                                    td Description
                                    td
                                        textarea(type="text" ng-model="ctrl.task.description" ng-change="ctrl.change()")
                                tr
                                    td Completed
                                    td
                                        label
                                            input(type="checkbox" ng-model="ctrl.task.completed" ng-change="ctrl.change()")
                                            | {{ctrl.task.completed===true?"Completed":"In Progress"}}
                                    tr
                                        td 
                                            |  
                                        td
                                            button.btn.btn-success.btn-sm(type="button" ng-disabled="!ctrl.changed" ng-click="ctrl.save()") Save
                                        
