html
    head
        link(rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" )
        link(rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap-theme.min.css" )

    body
        div.container
            block content
    script(src="/modules/jquery/dist/jquery.min.js")
    script(src="/modules/bootstrap/dist/js/bootstrap.min.js")
    script(src="/modules/angular/angular.js")
    script(src="/modules/systemjs/dist/system.src.js")
    script(src="/public/system-config.js")
    script
        | SystemJS.import('app.js');
        